

<div class="app">
    <div class="navbar navbar-app navbar-absolute-top cust-navbar-app">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
            <span class="ng-scope">  MH-Transport </span>
        </div>
        <div class="btn-group pull-left" ng-click="back_navigation()">
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
        </div>
    </div>
    <div class='app-body'>
        <div class='app-content'>
            <div class="scrollable" ui-state="searchBar">
                <div class="scrollable-content" >
                    <div class="section">
                        <div class="list-group emergency">
                            <section class="card" ng-repeat="item in msrtcTransportData">
                                <h2>Destination : {{item.st_dest}}</h2>
                                <div class="column-2">{{item.st_time}}</div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>